{% extends 'main_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/recipe-list.css' %}" />
{% endblock %}

{% block content %}
{% for recipe in recipes %}
<div>
  <h2>{{ recipe.title }}</h2>
  <span class="category-badge">{{ recipe.get_category_display }}</span>
  <p><small>{{ recipe.description }}</small></p>
  <a href="{% url 'recipe-detail' recipe.id %}" class="btn view">View Recipe</a>
</div>
{% empty %}
<p>No recipes found.</p>
{% endfor %}
{% endblock %}