{% extends 'main_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Sign Up for Recipe Manager</h1>
  <img src="{% static 'images/chef-hat.svg' %}" alt="A chef's hat" class="header-image" />
</div>

{% if error_message %}
  <p class="error-message">{{ error_message }}</p>
{% endif %}

<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table class="form-table">
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-submit">Sign Up</button>
</form>

<div class="login-link">
  <p>Already have an account? <a href="{% url 'home' %}">Log In</a></p>
</div>
{% endblock %}
